<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".AdminViewClientProfile"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".InquiryView"
            android:exported="false" />


        <activity
            android:name=".ClientHome"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ClientLogin"
            android:exported="false" />
        <activity
            android:name=".ModelRequestHolder"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="ModelLis" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ModelHistory"
            android:exported="false" />
        <activity
            android:name=".ArticleList"
            android:exported="false" />
        <activity
            android:name=".ClientEditAd"
            android:exported="false" />
        <activity
            android:name=".ClientAdHistory"
            android:exported="false" />
        <activity
            android:name=".ModelArticleList"
            android:exported="false" />
        <activity
            android:name=".addInquiry"
            android:exported="true" />
        <activity
            android:name=".InquiryList"
            android:exported="true" />
        <activity
            android:name=".InquiryUpdate"
            android:exported="false" />
        <activity
            android:name=".ModelProfile"
            android:exported="false" />
        <activity
            android:name=".ClientProfile"
            android:exported="false" />
        <activity
            android:name=".ClientViewHistory"
            android:exported="false" />
        <activity
            android:name=".ClientRequestedModelsList"
            android:exported="false" />
        <activity
            android:name=".ClientViewAd"
            android:exported="false" />
        <activity
            android:name=".ClientAddModelRequest"
            android:exported="false" />
        <activity
            android:name=".ClientRegister"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateArticle"
            android:exported="false" />
        <activity
            android:name=".AddArticle"
            android:exported="false" />
        <activity
            android:name=".ModelListA"
            android:exported="false" />
        <activity
            android:name=".ClientSingleRegisterRequest"
            android:exported="false" />
        <activity
            android:name=".ModelSingleRegisterRequest"
            android:exported="false" />
        <activity
            android:name=".ClientSingleProfileView"
            android:exported="false" />
        <activity
            android:name=".ModelSingleProfileView"
            android:exported="false" />
        <activity
            android:name=".ClientsList"
            android:exported="false" />
        <activity
            android:name=".ModelList"
            android:exported="false" />
        <activity
            android:name=".ClientRegisterRequests"
            android:exported="false" />
        <activity
            android:name=".ModelRegisterRequests"
            android:exported="false" />
        <activity
            android:name=".ModelRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ModelRegister"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".ModelLogin"
            android:exported="false" />
        <activity
            android:name=".ModelHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>